<!--this code is to define a page in the site that lists the places that are marked as having been visited-->
{% extends 'travel_wishlist/base.html' %}
{% block content%}

<h2>Places You Have Visited</h2>


{% if visited %}

<ul> <!--unordered list item using a for loop-->
    {% for place in visited %}
        <li>
            <a href="{% url 'place_details' place.pk %}">{{ place.name }}</a>
        </li>
    {% endfor %}
</ul>

{% else %}

<p>You have not visited any places yet.</p>

{% endif %}

{% endblock %}
